extends layout

block content
    h1 #{title}
    ul.list-group
      each article, i in articles
        li.list-group-item
          a(href="/articles/"+article._id)= article.title
    //- ul.list-group
    //-   each issue, i in issues
    //-     li.list-group-item
    //-       a(href="#")= issue.key
    //-       a= issues.fields.summary
