extends layout

block content
    h2 #{title}
    ul.list-group
      each article, i in articles
        li.list-group-item
          a(href="/articles/"+article._id)= article.title
    h2 Issues
    .table-responsive.table-borderless.table-sm.table-hover
      table
        thead
          tr
            th Key
            th Summary
            
        tbody
          each issue, i in issues
            tr
              td
                a(href="#")= issue.key
              td= issue.fields.summary
              //- td= issue.fields.assignee.key
